<?php if (!defined('_GNUBOARD_')) exit;

add_stylesheet('<link rel="stylesheet" href="./style.css" type="text/css" media="screen">',0);

?>
<div class="blog-headline">
	<h4>{title}</h4>
</div>
<div class="latest-blog row">
	<!--{@ loop}-->
	<div class="col-sm-4">
		<div class="blog-box">
			<div class="blog-img">				
				<!--{? .image}-->
				<a href="{.href}"><img class="img-responsive" src="{.image}" alt=""></a>
				<!--{:}-->
				<a href="{.href}"><img class="img-responsive" src="../../../image/sample/no_image.jpg" alt=""></a>
				<!--{/}-->
			</div>
			<div class="blog-content">				
				<h5><a href="{.href}">{.wr_subject}</a></h5>
				<ul class="list-inline">
				   <li><i class="fa fa-user"></i> {.mb_nick}</li>
				   <li><i class="fa fa-clock-o"></i> {eb->date_time('Y-m-d H:i',.datetime)}</li>
				   <li><span class="color-red"><!--{? .wr_comment}--><i class="fa fa-comments"> {.wr_comment}</i><!--{/}--></span></li>
				   <div class="clearfix"></div>
				</ul>
				<!--{? content == 'y'}-->
				<p>{.wr_content}</p>
				<!--{/}-->
			</div>
		</div>
		<!--{? .index_>0 && .index_%cols == 0}-->
		<div class="clearfix"></div>
		<!--{/}-->
	</div>
	<!--{:}-->
	<div class="col-sm-4">
		<div class="blog-box">
			<div class="blog-img">	
				<img class="img-responsive" src="../../../image/sample/sample_02.jpg" alt="">
			</div>
			<div class="blog-content">				
				<h5><a href="#">Curabitur sem urna, consequat ve</a></h5>
				<ul class="list-inline">
				   <li><i class="fa fa-user"></i> eyoom</li>
			  	   <li><i class="fa fa-clock-o"></i> 5일전</li>
				   <li><span class="color-red"><i class="fa fa-comments"></i> 3</span></li>
				   <div class="clearfix"></div>
				</ul>
				<p>Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="blog-box">
			<div class="blog-img">	
				<img class="img-responsive" src="../../../image/sample/sample_01.jpg" alt="">
			</div>
			<div class="blog-content">				
				<h5><a href="#">Curabitur sem urna, consequat ve</a></h5>
				<ul class="list-inline">
				   <li><i class="fa fa-user"></i> eyoom</li>
			  	   <li><i class="fa fa-clock-o"></i> 5일전</li>
				   <li><span class="color-red"><i class="fa fa-comments"></i> 3</span></li>
				   <div class="clearfix"></div>
				</ul>
				<p>Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="blog-box">
			<div class="blog-img">	
				<img class="img-responsive" src="../../../image/sample/sample_03.jpg" alt="">
			</div>
			<div class="blog-content">				
				<h5><a href="#">Curabitur sem urna, consequat ve</a></h5>
				<ul class="list-inline">
				   <li><i class="fa fa-user"></i> eyoom</li>
			  	   <li><i class="fa fa-clock-o"></i> 5일전</li>
				   <li><span class="color-red"><i class="fa fa-comments"></i> 3</span></li>
				   <div class="clearfix"></div>
				</ul>
				<p>Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam.</p>
			</div>
		</div>
	</div>
	<!--{/}-->
</div>
<div style="border-bottom: 1px solid #333;margin-top:5px;"></div>