@charset "utf-8";

.blog-headline {}
.blog-headline h4 {
	border-bottom: 1px solid #333;
}
.blog-headline h4 a {}

.latest-blog {}
.blog-box {
	margin-bottom: 20px;
}

.blog-img {
	overflow: hidden;
}
.blog-img a {}
.blog-img a img {
	width: 100%;
}

/*이미지 가로 수 2개*/
.col-sm-6 .blog-img {
	height: 270px;
}
/*이미지 가로 수 3개*/
.col-sm-4 .blog-img {
	height: 170px;
}
/*이미지 가로 수 4개*/
.col-sm-3 .blog-img {
	height: 125px;
}
@media (max-width:767px){
	.blog-box {
		margin-bottom: 10px;
	}
	.col-sm-6 .blog-img, .col-sm-4 .blog-img, .col-sm-3 .blog-img {
		height: inherit;
	}
}

.blog-content {}
.blog-content h5 {
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
}
.blog-content ul {}
.blog-content ul li {}
.blog-content ul li i {}
.blog-content p {}

