<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/eyoom-form/css/eyoom-form.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/scrollbar/src/perfect-scrollbar.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../css/custom.css" type="text/css" media="screen">',0);
?>

<!--{* 로그인 시작 *}-->
<div class="eb-login" style="overflow-y:scroll;">

	<!--{* === Community Login Part === *}-->
	<div class="container">
	    <!--{* Reg Block *}-->
	    <div class="member-login">
	        <div class="member-login-header">
	            <h1>로그인</h1>
	            <div class="member-login-box clearfix">
	            	<a href="{C.G5_BBS_URL}/password_lost.php" target="_blank" class="pull-left">아이디/비밀번호찾기</a>
	            	<a href="./register.php" class="pull-right">회원가입</a>
	            </div>
	        </div>
		    <form name="flogin" action="{_login_action_url}" onsubmit="return flogin_submit(this);" method="post" class="eyoom-form">
			    <input type="hidden" name="url" value='{_login_url}'>

			    <fieldset>
			        <div class="margin-bottom-10">
			            <input type="text" class="form-control" placeholder="아이디" name="mb_id" required class="frm_input required" size="20" maxLength="20">
			        </div>
			        <div class="">
			            <input type="password" class="form-control" placeholder="비밀번호" name="mb_password" required class="frm_input required" size="20" maxLength="20">
			        </div>
			        <div class="member-login-box">
				        <label class="checkbox">
				            <input type="checkbox" name="auto_login" id="login_auto_login"><i></i>자동로그인
				        </label>

			        </div>
		            <div class="margin-top-10">
		                <button type="submit" value="로그인" >로그인</button>
		            </div>
			    </fieldset>
			</form>
	    </div>
	    <!--{* End Reg Block *}-->

	<!--{* === End Community Login Part === *}-->

    <!--{ // 쇼핑몰 사용시 여기부터 - 쇼핑몰 부분은 작업이 안되어 있습니다. }-->

	<!--{? default.de_level_sell == 1 ///#1}-->

    <!--{? preg_match('/orderform.php/',_url) ///#2}-->
    <section class="member-login-notmb">
        <div class="headline"><h4>비회원 구매</h4></div>

        <p class="font-size-12">
            비회원으로 주문하시는 경우 포인트는 지급하지 않습니다.
        </p>

		<div class="panel panel-basic-bs no-bg">
	        <div id="scrollbar" class="panel-body contentHolder" style=" overflow-y:scroll;">
				<!--{default.de_guest_privacy}-->
	        </div>
		</div>

		<div class="eyoom-form">
			<label class="checkbox" for="agree">
				<input type="checkbox" id="agree" value="1"><i></i><span class="font-size-12">개인정보수집에 대한 내용을 읽었으며 이에 동의합니다.</span>
			</label>
		</div>

        <div class="margin-top-15">
            <a href="javascript:guest_submit(document.flogin);" class="btn-e btn-e-dark">비회원으로 구매하기</a>
        </div>

        <script>
        function guest_submit(f)
        {
            if (document.getElementById('agree')) {
                if (!document.getElementById('agree').checked) {
                    alert("개인정보수집에 대한 내용을 읽고 이에 동의하셔야 합니다.");
                    return;
                }
            }

            f.url.value = "{_url}";
            f.action = "{_url}";
            f.submit();
        }
        </script>
    </section>
	<!--{: preg_match('/orderinquiry.php$/',_url) ///#2}-->
            <section class="member-login-order" style="margin-top: 20px">
                <form name="forderinquiry" method="post" action="{=urldecode(_url)}" autocomplete="off" class="eyoom-form" style="width:200px;display: block;margin-left: auto;margin-right: auto">
                    <label for="od_id" class="label">주문서번호<strong class="sound_only"> 필수</strong></label>
                    <div class="input-group" style="margin-top: 10px">
                        <input type="text" name="od_id" value="{_od_id}" id="od_id" required size="20" class="form-control" >
                    </div>
                    <label for="id_pwd" class="label" style="margin-top: 10px">비밀번호<strong class="sound_only"> 필수</strong></label>
                    <div class="input-group" style="margin-top: 10px">
                        <input type="password" name="od_pwd" size="20" id="od_pwd" class="form-control" required>
                    </div>
                    <span class="input-group-btn" >
                        <input class="btn btn-default" style="margin-top: 10px" type="submit" value="확인">
                    </span>
                </form>
                <h5 class="margin-top-20 color-black"><i class="fa fa-exclamation-circle"></i> 비회원 주문조회 안내</h5>
                <p class="font-size-12">메일로 발송해드린 주문서의 <strong>주문번호</strong> 및 주문 시 입력하신 <strong>비밀번호</strong>를 정확히 입력해주십시오.</p>
            </section>
    <!--{///#2}-->

    <!--{///#1}-->
    <!--{ // 쇼핑몰 사용시 여기까지 반드시 복사해 넣으세요 }-->

    <div class="main-comeback">
        <a href="{C.G5_URL}">메인으로 돌아가기</a>
    </div>

    </div><!--{* container *}-->

    <!--{* 사각형 아이콘들 *}-->
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
	</ul>

</div>

<style>

body ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
  font-weight: 300;
}
.eb-login {
  background: #ea5858;
  background: -webkit-linear-gradient(top left, #f75757 0%, #F2D2AE 100%);
  background: linear-gradient(to bottom right, #f75757 0%, #F2D2AE 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.eb-login .container {
  text-align: center;
  padding-top:80px;
}
.member-login {}
.member-login h1 {
  color:#fff;
}
.member-login-box, .main-comeback {
	width:250px;
	margin: 0 auto;
	position:relative;
	z-index: 2;
}
.member-login-box a, .main-comeback a {
	color:#eee;
}
.member-login-box a:hover, .main-comeback a:hover {
	color:#fff;
}
.main-comeback {
	text-align: center;
	margin-top:20px;
}
.member-login form {
  padding: 0;
  position: relative;
  z-index: 2;
  border:0 none;
}
.member-login fieldset {
	background: none;
	padding:0;
}
.member-login form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-background-color: rgba(255, 255, 255, 0.2);
  -moz-background-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  font-weight: 300;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}
.member-login form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.member-login form input:focus {
  background-color: white;
  width: 300px;
  color: #ea5858;
  border:0 none !important;
  box-shadow: 0 0 0 #fff;
}
.member-login-box label.checkbox {
	color:#fff;
	font-size:12px;
	text-align: left;
}
.member-login-box label.checkbox i{
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
}
.member-login-box label.checkbox i:hover, .member-login-box label.checkbox i:focus{
  border: 1px solid rgba(255, 255, 255, 0.8);
  color:#fff;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #ea5858;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #ea5858;
  color:#fff;
}
.bg-bubbles {
  /*position: block;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* 사각형 스타일 */
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
/* 위에서 아래로 내려오는 효과 - 간격은 본인에게 맞게 작업바랍니다. */
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(-1080px);
            transform: translateY(-1080px);
  }
  100% {
    -webkit-transform: translateY(0) rotate(600deg);
            transform: translateY(0) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(-1080px);
            transform: translateY(-1080px);
            opacity:1;
  }
  100% {
    -webkit-transform: translateY(0) rotate(600deg);
            transform: translateY(0) rotate(600deg);
            opacity:0;
  }
}
</style>

<script type="text/javascript" src="../../../plugins/backstretch/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="../../../plugins/eyoom-forms/version-2.0.1/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../plugins/scrollbar/src/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../../../plugins/scrollbar/src/perfect-scrollbar.js"></script>
<!-- JS Page Level -->
<!--[if lt IE 9]>
    <script src="../../../js/respond.js"></script>
    <script src="../../../js/html5shiv.js"></script>
<![endif]-->
<script>
$(function(){
    $("#login_auto_login").click(function(){
        if (this.checked) {
            this.checked = confirm("자동로그인을 사용하시면 다음부터 회원아이디와 비밀번호를 입력하실 필요가 없습니다.\n\n공공장소에서는 개인정보가 유출될 수 있으니 사용을 자제하여 주십시오.\n\n자동로그인을 사용하시겠습니까?");
        }
    });
});

function flogin_submit(f)
{
    return true;
}
</script>
<!-- } 로그인 끝 -->