<?php if (!defined('_GNUBOARD_')) exit; // ?>

<!--{* 상품진열 10 시작 *}-->
<div class="product-list-10 row">
<!--{@ list}-->
	<!--{? !C.G5_IS_MOBILE //PC버전의 경우}-->
	<div class="col-sm-4">
	<!--{: //모바일의 경우}-->
	<div class="col-xs-6">
	<!--{/}-->
		<div class="item-list-10">
	        <div class="product-img">
		        <!--{? href}-->
	            <a href="{.href}">
		        <!--{/}-->
					{.it_image}
		        <!--{? href}-->
		        </a>
	            <!--{/}-->
	            <!--<div class="product-sns">
		            <ul class="list-inline">
		                &lt;!&ndash;{? view_sns}&ndash;&gt;
		                <li><a href="https://www.facebook.com/sharer/sharer.php?u={.sns_url}&amp;p={.sns_title}" target="_blank" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="https://twitter.com/share?url={.sns_url}&amp;text={.sns_title}" target="_blank" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="https://plus.google.com/share?url={.sns_url}" arget="_blank" class="google-icon"><i class="fa fa-google"></i></a></li>
		                &lt;!&ndash;{/}&ndash;&gt;
		                <li><a href="javascript:item_wish_for_list('{.it_id}');" class="wish-icon"><i class="fa fa-heart"></i></a></li>
		            </ul>
	            </div>-->
	            <!--{? view_it_icon}-->
	            {.it_icon}
	            <!--{/}-->
	        </div>
	        <div class="product-description">
                <div class="product-description-in">
	                <!--{? href}-->
                    <h4 class="product-name ellipsis">
	                    <a href="{.href}">
	                <!--{/}-->
	                    <!--{? view_it_name}-->{=stripslashes(.it_name)}<!--{/}-->
	                <!--{? href}-->
	                	</a>
	                </h4>
	                <!--{/}-->

	                <!--{? view_it_cust_price || view_it_price}-->
		            <div class="product-price">
		                <!--{? view_it_price}-->
		                <span class="title-price">₩ {.it_tel_inq}</span>
		                <!--{/}-->
		                <!--{? view_it_cust_price && .it_cust_price}-->
		                <span class="title-price line-through">₩ {.it_cust_price}</span>
		                <!--{/}-->
		            </div>
		            <!--{/}-->

                    <!--{? view_it_id}-->
                    <span class="type text-uppercase">{=stripslashes(.it_id)}</span>
                    <!--{/}-->

                    <!--{? 0 //상품간략 소개, 앞숫자 0: 미출력, 앞숫자 1: 출력}-->
	                    <!--{? view_it_basic && .it_basic}-->
	                    <span class="type">{=stripslashes(.it_basic)}</span>
	                    <!--{/}-->
                    <!--{/}-->
	            </div>
	        </div>
            <div class="product-description-bottom">
	            <a class="pull-left font-size-12" href="{C.G5_SHOP_URL}/itemuselist.php?sfl=a.it_id&stx={.it_id}">리뷰보기</a>
                <ul class="list-inline product-ratings pull-right">
					<li><i class="rating{? .star_score > 0}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
					<li><i class="rating{? .star_score > 1}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
					<li><i class="rating{? .star_score > 2}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
					<li><i class="rating{? .star_score > 3}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
					<li><i class="rating{? .star_score > 4}-selected fa fa-star{:} fa fa-star-o{/}"></i></li>
                </ul>
                <div class="clearfix"></div>
            </div>
	    </div>
	</div>
	<!--{? !C.G5_IS_MOBILE //PC버전의 경우}-->
	    <!--{? .key_%3==0}-->
	    <div class="clearfix"></div>
	    <!--{/}-->
    <!--{: //모바일의 경우}-->
	    <!--{? .key_%2==0}-->
	    <div class="clearfix"></div>
	    <!--{/}-->
    <!--{/}-->
<!--{:}-->
	<p class="text-center">등록된 상품이 없습니다.</p>
<!--{/}-->
</div>
<!--{* 상품진열 10 끝 *}-->

<style>
.product-list-10.row {margin-left:-10px;margin-right:-10px}
.product-list-10 .col-sm-4 {padding-left:10px;padding-right:10px}
.product-list-10 .item-list-10 {position:relative;border:1px solid #d5d5d5;margin-bottom:20px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.product-list-10 .item-e1:hover {border:1px solid #0085DA}
.product-list-10 .product-img {position:relative;padding:10px}
.product-list-10 .item-e1:hover .product-img {background:#f8f8f8}
.product-list-10 .product-img img {width:100%;display:block;max-width:100%;height:auto}
.product-list-10 .product-sns {left:0;right:0;top:50%;z-index:1;width:100%;color:#555;border:none;padding:7px 0;font-size:12px;margin-top:-20px;text-align:center;position:absolute;visibility:hidden;text-transform:uppercase;background:#fff;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=95)";filter:alpha(opacity=95);opacity:0.95}
.product-list-10 .product-img:hover .product-sns {visibility:visible}
.product-list-10 .product-sns ul {margin:0}
.product-list-10 .product-sns ul li {padding-left:1px;padding-right:1px}
.product-list-10 .product-sns a {display:inline-block;width:24px;height:24px;line-height:24px;font-size:12px;background:#fff;border:1px solid #d5d5d5}
.product-list-10 .product-sns a.facebook-icon {color:#4862A3}
.product-list-10 .product-sns a.twitter-icon {color:#55ACEE}
.product-list-10 .product-sns a.google-icon {color:#D73D32}
.product-list-10 .product-sns a.wish-icon {color:#FF9400}
.product-list-10 .product-sns a.facebook-icon:hover {background:#4862A3;color:#fff;border:1px solid #4862A3}
.product-list-10 .product-sns a.twitter-icon:hover {background:#55ACEE;color:#fff;border:1px solid #55ACEE}
.product-list-10 .product-sns a.google-icon:hover {background:#D73D32;color:#fff;border:1px solid #D73D32}
.product-list-10 .product-sns a.wish-icon:hover {background:#FF9400;color:#fff;border:1px solid #FF9400}
.product-list-10 .item-e1:hover .product-description-in {background:#f8f8f8}
.product-list-10 .product-description .product-description-in {position:relative;overflow:hidden;padding:0 10px 10px}
.product-list-10 .product-description .product-name {margin:0;margin-bottom:5px}
.product-list-10 .product-description .product-name a {font-size:14px;font-weight:bold;color:#000}
.product-list-10 .product-description .product-name a:hover {color:#DE2600}
.product-list-10 .product-description .title-price {font-size:14px;font-weight:bold;color:#ae0000}
.product-list-10 .product-description .line-through {color:#b5b5b5;text-decoration:line-through;margin-left:7px;font-weight:normal}
.product-list-10 .product-description .type {color:#757575;display:block;font-size:12px;margin-top:8px}
.product-list-10 .product-description-bottom {position:relative;overflow:hidden;padding:7px 10px;border-top:1px solid #d5d5d5}
</style>

<!--{? C.G5_IS_MOBILE //모바일의 경우}-->
<style>
.product-list-10.row {margin-left:-3px;margin-right:-3px}
.product-list-10 .col-xs-6 {padding-left:3px;padding-right:3px}
.product-list-10 .product-img {padding:6px}
.product-list-10 .product-description .product-description-in {padding:0 6px 10px}
.product-list-10 .product-description-bottom {padding:7px 6px}
</style>
<!--{/}-->