<?php if (!defined('_GNUBOARD_')) exit; ?>

<!--{* 마이페이지 시작 *}-->
<div class="shop-mypage">
	<!--{* 회원정보 개요 시작 *}-->
	<section class="mypage-info margin-bottom-30">
		<div class="headline"><h5><strong>쇼핑몰 내 정보</strong></h5></div>
        <div class="text-right margin-bottom-20">
                <!--{? _is_admin == 'super'}--><a href="{C.G5_ADMIN_URL}/" class="btn-e btn-e-purple margin-right-5">관리자</a><!--{/}-->
                <a href="{C.G5_BBS_URL}/memo.php" target="_blank" class="win_memo btn-e btn-e-dark">쪽지함</a>
                <a href="{C.G5_BBS_URL}/member_confirm.php?url=register_form.php" class="btn-e btn-e-red">회원정보수정</a>
                <a href="{C.G5_BBS_URL}/member_confirm.php?url=member_leave.php" onclick="return member_leave();" class="btn-e btn-e-default">회원탈퇴</a>
        </div>
		<!--{? C.G5_IS_MOBILE}-->
		<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
		<!--{/}-->
		<div class="table-list-eb">
		    <div class="table-responsive">
		        <table id="sod_list" class="table table-bordered">
			        <thead>
			            <tr>
			                <th>항목</th>
			                <th>내용</th>
			            </tr>
			        </thead>
		            <tbody>
			            <tr>
				            <th>보유포인트</th>
				            <td>{=number_format(member.mb_point)}점 <a href="{C.G5_BBS_URL}/point.php" target="_blank" class="win_point btn-e btn-e-default btn-e-xs margin-left-5"><span class="color-white">포인트내역보기</span></a></td>
			            </tr>
			            <tr>
				            <th>보유쿠폰</th>
				            <td>{=number_format(_cp_count)}개 <a href="<?php echo G5_SHOP_URL; ?>/coupon.php" target="_blank" class="win_coupon btn-e btn-e-default btn-e-xs margin-left-5"><span class="color-white">쿠폰내역보기</span></a></td>
			            </tr>
			            <tr>
				            <th>연락처</th>
				            <td><!--{? member.mb_tel}-->{member.mb_tel}<!--{:}-->미등록<!--{/}--></td>
			            </tr>
			            <tr>
				            <th>E-Mail</th>
				            <td><!--{? member.mb_email}-->{member.mb_email}<!--{:}-->미등록<!--{/}--></td>
			            </tr>
			            <tr>
				            <th>최종접속일시</th>
				            <td>{member.mb_today_login}</td>
			            </tr>
			            <tr>
				            <th>회원가입일시</th>
				            <td>{member.mb_datetime}</td>
			            </tr>
			            <tr>
				            <th id="smb_my_ovaddt">주소</th>
				            <td id="smb_my_ovaddd">{=sprintf("(%s%s)", member.mb_zip1, member.mb_zip2)} {=print_address(member.mb_addr1, member.mb_addr2, member.mb_addr3, ember.mb_addr_jibeon)}</td>
			            </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
	</section>
	<!--{* 회원정보 개요 끝 *}-->

    <!--{* 최근 주문내역 시작 *}-->
    <section class="mypage-order margin-bottom-30">
	    <div class="headline"><h5><strong>최근 주문내역</strong></h5></div>
        {# orderinquiry_sub_bs}
        <div class="text-right">
            <a href="./orderinquiry.php" class="btn-e btn-e-dark btn-e-xs">주문내역 더보기</a>
        </div>
    </section>
    <!--{* 최근 주문내역 끝 *}-->

    <!--{* 최근 위시리스트 시작 *}-->
    <section class="mypage-wish margin-bottom-30">
        <div class="headline"><h5><strong>최근 위시리스트</strong></h5></div>
		<!--{? C.G5_IS_MOBILE}-->
		<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
		<!--{/}-->
		<div class="table-list-eb">
		    <div class="table-responsive">
		        <table class="table table-bordered">
		            <thead>
		                <tr>
			                <th>이미지</th>
			                <th>상품명</th>
			                <th>보관일시</th>
		                </tr>
		            </thead>
		            <tbody>
			            <!--{@ wishlist}-->
			            <tr>
			                <td class="smb-my-img"><a href="./item.php?it_id={.it_id}">{.image}</a></td>
			                <td><a href="./item.php?it_id={.it_id}">{=stripslashes(.it_name)}</a></td>
			                <td>{.wi_time}</td>
			            </tr>
						<!--{:}-->
						<tr><td colspan="3" class="text-center">보관 내역이 없습니다.</td></tr>
						<!--{/}-->
		            </tbody>
		        </table>
		    </div>
		</div>
        <div class="text-right">
            <a href="./wishlist.php" class="btn-e btn-e-dark btn-e-xs">위시리스트 더보기</a>
        </div>
    </section>
    <!--{* 최근 위시리스트 끝 *}-->
</div>

<style>
.shop-mypage .mypage-info thead th {text-align:left !important}
.shop-mypage .mypage-info #sod_list thead th {padding:8px}
.shop-mypage .mypage-wish .table-list-eb .smb-my-img {width:80px}
.shop-mypage .mypage-wish .table-list-eb td img {display:block;width:100%;max-width:100%;height:auto}
</style>

<script>
$(function() {
    $(".win_coupon").click(function() {
        var new_win = window.open($(this).attr("href"), "win_coupon", "left=100,top=100,width=700, height=600, scrollbars=1");
        new_win.focus();
        return false;
    });
});

function member_leave()
{
    return confirm('정말 회원에서 탈퇴 하시겠습니까?')
}
</script>
<!--{* 마이페이지 끝 *}-->