<?php if (!defined('_GNUBOARD_')) exit; ?>

<!--{* 쿠폰 선택 시작 *}-->
<div id="sc_coupon_frm">
    <!--{? _count > 0}-->
	<div class="table-list-eb">
	    <div class="table-responsive">
	        <table id="sod_list" class="table table-hover">
	            <thead>
		            <tr>
			            <th>쿠폰명</th>
			            <th>할인금액</th>
			            <th>적용</th>
		            </tr>
	            </thead>
	            <tbody>
		            <!--{@ list}-->
		            <tr>
			            <td>
			                <input type="hidden" name="s_cp_id[]" value="{.cp_id}">
			                <input type="hidden" name="s_cp_prc[]" value="{.dc}">
			                <input type="hidden" name="s_cp_subj[]" value="{.cp_subject}">
			                {=get_text(.cp_subject)}
			            </td>
			            <td>{=number_format(.dc)}</td>
			            <td><button type="button" class="sc_cp_apply btn-e btn-e-red btn-e-xs">적용</button></td>
		            </tr>
		            <!--{/}-->
	            </tbody>
	        </table>
	    </div>
	</div>
	<!--{:}-->
	<div class="text-center">사용할 수 있는 쿠폰이 없습니다.</div>
	<!--{/}-->
    <div class="text-center">
        <button type="button" id="sc_coupon_close" class="btn-e btn-e-dark">닫기</button>
    </div>
</div>
<!--{* 쿠폰 선택 끝 *}-->