<?php if (!defined('_GNUBOARD_')) exit; // ?>

<!--{* 관련상품 시작 *}-->
<div class="product-e1">
    <div class="shopNavigation margin-bottom-25">
        <a class="owl-btn prev-s3 rounded-x"><i class="fa fa-angle-left"></i></a>
        <a class="owl-btn next-s3 rounded-x"><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="owl-slider-wrap">
		<ul class="list-inline owl-slider-shop3 owl-carousel">
			<!--{@ list}-->
			<li class="item">
		        <div class="product-img">
			        <!--{? href}-->
		            <a href="{.href}">
			        <!--{/}-->
						{.it_image}
			        <!--{? href}-->
			        </a>
		            <!--{/}-->
		            <!--{? view_it_icon}-->
		            {.it_icon}
		            <!--{/}-->
		        </div>
		        <div class="product-description product-description-brd margin-bottom-20">
		            <div class="overflow-h">
		                <div class="product-description-title">
			                <!--{? href}-->
		                    <h4 class="title-price">
			                    <a href="{.href}">
			                <!--{/}-->
			                    <!--{? view_it_name}-->{=stripslashes(.it_name)}<!--{/}-->
			                <!--{? href}-->
			                	</a>
			                </h4>
			                <!--{/}-->
			                <!--{? view_it_cust_price || view_it_price}-->
				            <div class="product-price">
				                <!--{? view_it_price}-->
				                <span class="title-price">₩ {.it_tel_inq}</span>
				                <!--{/}-->
				                <!--{? view_it_cust_price && .it_cust_price}-->
				                <span class="title-price line-through">₩ {.it_cust_price}</span>
				                <!--{/}-->
				            </div>
				            <!--{/}-->
		                    <!--{? view_it_id}-->
		                    <span class="type text-uppercase">{=stripslashes(.it_id)}</span>
		                    <!--{/}-->
		                </div>
		            </div>
		        </div>
			</li>
			<!--{:}-->
			<p>관련상품이 없습니다.</p>
			<!--{/}-->
		</ul>
    </div>
</div>
<!--{* 관련상품 끝 *}-->

<style>
.product-e1 .shopNavigation {text-align:right;margin-top:-45px;margin-bottom:30px}
.product-e1 .shopNavigation a.owl-btn {color:#c5c5c5;width:22px;height:22px;font-size:14px;cursor:pointer;line-height:20px;text-align:center;display:inline-block;border:1px solid #c5c5c5;border-radius:0 !important}
.product-e1 .shopNavigation a.owl-btn:hover {color:#000;border-color:#000;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;background:#fff}
.product-e1 .shopNavigation a.owl-btn.prev i {margin-left:-2px}
.product-e1 .shopNavigation a.owl-btn.next i {margin-right:-2px}
.product-e1 .list-inline {margin-left:0}
.product-e1 .owl-slider-wrap {padding:0}
.product-e1 .item {margin:0 10px;padding-bottom:5px}
.product-e1 .product-img {position:relative}
.product-e1 .product-img img {width:100%;display:block;max-width:100%;height:auto}
.product-description {overflow:hidden}
.product-description-brd {}
.product-description-title {padding:8px 0;text-align:center}
.product-description .title-price {color:#c9253c;font-size:13px;font-weight:bold}
.product-description h4.title-price {margin:2px 0 0}
.product-description h4.title-price a {color:#000;display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden}
.product-description h4.title-price a:hover {color:#FF2900}
.product-e1 .product-description .product-price {padding:0;margin-bottom:10px}
.product-description .line-through {color:#a5a5a5;text-decoration:line-through;margin-left:7px}
.product-description .type {color:#757575;display:block;font-size:12px}
</style>