<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="side-item-carousel-wrap">
	<div class="headline">
		<h6><strong>{title}</strong></h6>
	</div>
	<div class="side-item-carousel">
	    <div class="owl-navi">
	        <a class="owl-btn prev-side-item"><i class="fa fa-angle-left"></i></a>
	        <a class="owl-btn next-side-item"><i class="fa fa-angle-right"></i></a>
	    </div>
		<div class="owl-item-carousel owl-carousel">
	    <!--{@ loop}-->
			<article class="item">
				<!--{? .img}-->
				{.img}
				<!--{:}-->
				<a href="{.href}" class="no-image">No Image</a>
				<!--{/}-->
				<a class="side-item-info ellipsis" href="{.href}">{.it_name}<span>₩ {=number_format(.it_price)}</span></a>
			</article>
		<!--{:}-->
			<p>상품이 존재하지 않습니다.</p>
		<!--{/}-->
		</div>
	</div>
</div>

<style>
.side-item-carousel-wrap {position:relative;overflow:hidden}
.side-item-carousel .item {margin:1px;background:#54545a;text-align:center;min-height:100px;max-height:200px}
.side-item-carousel .item img {max-width:100%;height:auto}
.side-item-carousel .side-item-info {left:0;right:0;bottom:0;z-index:1;width:100%;color:#000;border:none;padding:6px 8px;font-size:11px;text-align:center;position:absolute;background:#fff;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=85)";filter:alpha(opacity=85);opacity:0.85}
.side-item-carousel .side-item-info span {display:block;color:#DE2600}
.side-item-carousel .owl-navi a.owl-btn {color:#fff;width:19px;height:19px;font-size:12px;cursor:pointer;line-height:19px;text-align:center;display:inline-block;background:#b5b5b5}
.side-item-carousel .owl-navi a.owl-btn:hover {color:#fff;background:#FF2900;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.side-item-carousel .owl-navi a.owl-btn.prev-side-item {position:absolute;top:6px;right:21px;z-index:1}
.side-item-carousel .owl-navi a.owl-btn.next-side-item {position:absolute;top:6px;right:0;z-index:1}
.side-item-carousela.item-subj {position:absolute;left:0;bottom:0;color:#fff;width:100%;padding:5px 10px;text-align:center;background:#000;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);opacity:0.7}
.side-item-carousel a.no-image {font-size:16px;line-height:200px;color:#fff}
</style>

<script>
$(document).ready(function() {
	var owl = jQuery(".owl-item-carousel");
    owl.owlCarousel({
	    items : [2],
	    itemsDesktop : [1200,2],
        itemsTablet: [600,2],
        itemsMobile: [479,2],
	    slideSpeed: 500,
        pagination: false
    });
    jQuery(".next-side-item").click(function(){
        owl.trigger('owl.next');
    })
    jQuery(".prev-side-item").click(function(){
        owl.trigger('owl.prev');
    })
});
</script>